body {
    background-image: url("../images/brickwall.png");
}

.carousel-item {
    height: 282px !important;
    width: 500px !important;
}

.carousel {
    height: 282px !important;
}

.page-header {
    background: #00b8d4;
    margin-left: 5px;
    margin-right: 5px;
}

.white-text {
    color: black !important;
}

#addIngrButton {
    margin-top: 20px;
    background-color: #00b8d4;

}

.deleteBox {
    background: #adafc6;
    width: 27px;
    height: 27px;
}

.deleteBox:active {
    background: grey;
}

#submitContent {
    border-style: inset;
    margin-left: 5px;
    background: white;
    margin-right: 50px;
    background-color: white;
}

#ingredients {
    border-bottom: 1px solid #9e9e9e;
}

#ingredients:focus:not([readonly]) {
    border-bottom: 1px solid #00b8d4;
    box-shadow: 0 1px 0 0 #00b8d4;
}


.item {
    display: inline-block;
    padding: 30px;
    max-width: 280px;
    margin-right: 20px
}

img {
    height: 200px;
    width: 250px;
    cursor: pointer;
}

.active {
    color: #00b8d4!important;

    height: 500px;
}

/*.page-footer {*/

/*    background: #BFC5D3;*/

/*    text-align: center;*/

/*    position: fixed;*/

/*    width: 100%;*/

/*}*/

.page-footer {
    height: 15px;
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #BFC5D3;
    border-top: 3px solid #00b8d4;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}


/*ingredient button and the content*/

.dropdown-content {
    max-height: 200px;
    width: 220px;
    text-align: center;
}

.dropdown-button {
    max-height: 300px;
    width: 250px;
    text-align: center;
    background: #00b8d4;
    cursor: default;
}

.btn:hover {
    background: #00b8d4;
}


.hoverText {
    width: 100%;
    position: relative;
    bottom: 150px;
}

.dynamicImage {
    height: 200px;
    width: 250px;
}

#submitForRecipes {
    background-color: #00b8d4;
}
