body {
    background-image: url("../images/brickwall.png");
}

.carousel-item {
    height: 282px !important;
    width: 500px !important;
}

.carousel {
    height: 282px !important;
}

.page-header {
    background: #1e88e5;
    margin-left: 5px;
    margin-right: 5px;
}

.white-text {
    color: black !important;
}

#addIngrButton {
    margin-top: 8px;
}

.deleteBox {
    background: #adafc6;
    width: 27px;
    height: 27px;
}

#submitContent {
    border-style: inset;
    margin-left: 5px;
    background: white;
    margin-right: 50px;
    background-color: #DBE3F6;
}

#ingredients {
    border-bottom: 1px solid #9e9e9e;
}

#ingredients:focus:not([readonly]) {
    border-bottom: 1px solid #1e88e5;
    box-shadow: 0 1px 0 0 #1e88e5;
}


.item {
    display: inline-block;
    padding: 30px;
    max-width: 280px;
    margin-right: 20px
}

img {
    height: 200px;
    width: 250px;
}

.active {
    color: #1e88e5 !important;
    height: 500px;
}

.page-footer {
    background: #BFC5D3;
    text-align: center;
}
/*ingredient button and the content*/

.dropdown-content {
    max-height: 200px;
    width: 220px;
    text-align: center;
}

.dropdown-button {
    max-height: 300px;
    width: 250px;
    text-align: center;

}
