.page-header {
    background: #1e88e5;
}

.white-text {
    color: black !important;
}

#addIngrButton {
    margin-top: 20px;
}

.deleteBox {
    background: #adafc6;
    width: 27px;
    height: 27px;
}

#submitContent {
    border-style: inset;
    margin-left: 5px;
}

#ingredients {
    border-color: grey;
}
